# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
.env
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

# große Binärdateien
*.mp4
*.mkv
*.webm
assets/sample_clips/*
!assets/sample_clips/.gitkeep
